{% extends 'base.html.twig' %}

{% block title %}Page de jeu{% endblock %}

{% block body %}
	<header>
		<div class="example-wrapper">
			<ul class="ulnav">
				<li>
					<a href="{{ path('app_home') }}" title="Jouer">
						Accueil
					</a>
				</li>
				<li>
					<a href="{{path('app_logout')}}" title="Déconnexion">Au revoir {{ app.user.pseudo is not null ? app.user.pseudo : app.user.fullname }} !</a>
				</li>
			</ul>
		</div>
	</header>
	<main>
		<h1>Fight zone</h1>

	</main>
{% endblock %}
