a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

header,
footer {
    background-color: grey;
}

ul {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border: 1px solid black;
}

td {
    text-align: center;
    width: 10rem;
}
